.footer {
    background-color: gray;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 20px 0;
    font-weight: bolder;
    color: black;
}
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background-color: black;
}
.mainPanel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}
.button {
    font-size: 1.5rem;
    padding: 10px 40px;
    border: none;
    background-color: red;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s all;
}
.button:hover {
    background-color: white;
    color: red;
}
.restartButtonBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.backArrowSvg {
    width: 40px;
    height: 40px;
}
#mainContainer {}
.aboutLink {
    color: brown;
}
.aboutLink:hover {
    color: white;
}
.messageText {
    font-weight: bolder;
    height: max-content;
    text-align: center;
}
.gameMainPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#gameMainPanel {}