.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.gameLink {
  color: white;
  padding: 20px 40px;  
  transition: 0.5s all;
  font-weight: bolder;
  font-size: 1.5rem;
  height: 250px;
  width: 400px;
  text-align: center;
  text-shadow: 0 0 2px white;
  text-decoration: none;
}
.gameLink:hover {
  z-index: 1000;
}
#hangManGameLink {
  background-color: brown;
}
#hangManGameLink:hover {
  box-shadow: 0 0 5px 5px brown;
}
#guessWordGameLink {
  background-color: blue;
}
#guessWordGameLink:hover {
  box-shadow: 0 0 5px 5px blue;
}
.svgIcon {
  width: 150px;
  height: 150px;
}